<!DOCTYPE html>
<html>
    <head>
        <title>Hello, World!</title>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <meta charset="utf-8">
    </head>
    <body>
        
        <h1>APP 1</h1>
        <div id="app">
            <h2>{{ title }}</h2>
            <p> {{ body }}</p>
        </div>
        <h1>APP 2</h1>
        <div id="app2">
            <h2 v-bind:title="message">Hover on me for a few seconds</h2>
        </div>
        <h1>APP 3</h1>
        <div id="app3">
            <span v-if="seen">Now you see me.</span>
        </div>
        <h1>APP 4</h1>
        <div id="app4">
            <ol>
                <li v-for="todo in todos">
                    {{ todo.text }}
                </li>
            </ol>
        </div>
        <h1>APP 5</h1>
        <div id="app5">
            <p> {{ message }} </p>
            <button v-on:click="revMsg">REVERSE MESSAGE</button>
        </div>
        <h1>APP 6</h1>
        <div id="app6">
            <p> {{ message }}</p>
            <input v-model="message">
        </div>
        <h1>APP 7</h1>
        <div id="app7">
            <ol>
                <todo-item
                    v-for="item in groceryList"
                    v-bind:todo="item"
                    v-bind:key="item.id"
                ></todo-item>
            </ol>
        </div>
        <script src="app.js"></script>
    </body>
</html>
